.gmain{
    margin: 50px 0;
    .galery{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-areas:
        "a51 bangho bangho ip14"
        "hp hp acer acer"
        "redmi tmars tmars mtdagger"
        "moni tnoga thyperx mgenius"
        ;
        gap: 30px 0;
        justify-content: space-evenly;
        img{
            border: 5px solid black;
            border-radius: 20px;
        }
        .celu{
            height: 40vh;
            width: auto;
        }
        .note{
            width: 40vw;
            height: 40vh;
        }
        .mouse{
            height: 40vh;
            width: 15vw;
        }
        .teclado{
            height: 40vh;
            width: 40vw;
        }
        .a51{
            grid-area: a51;
        }
        .ip14{
            grid-area: ip14;
        }
        .redmi{
            grid-area: redmi;
        }
        .bangho{
            grid-area: bangho;
        }
        .hp{
            grid-area: hp;
        }
        .acer{
            grid-area: acer;
        }
        .thyperx{    
            grid-area: thyperx;
            width: 25vw;
        }
        .tmars{    
            grid-area: tmars;
        }
        .tnoga{    
            grid-area: tnoga;
            width: 25vw;
        }
        .mtdagger{    
            grid-area: mtdagger;
        }
        .moni{    
            grid-area: moni;
        }
        .mgenius{    
            grid-area: mgenius;
        }
    }
    @include mobile{
        .galery{
            width: 100vw;
            grid-template-areas: 
            "a51"
            "ip14"
            "redmi"
            "bangho"
            "hp"
            "acer"
            "thyperx"
            "tmars"
            "tnoga"
            "mtdagger"
            "moni"
            "mgenius"
            ;
            .celu, .mouse{
            height: 30vh;
            width: 40vw;
            }
            .note, .teclado{
            height: 30vh;
            width: 60vw;
            }
        }
    }
}