footer{
    @include flex-row;
    margin: 0 10px;
    .rrss{
        height: 8vh;
        width: auto;
        margin: 0 10px;
    }
    .wats{
        position: fixed;
        right: 30px;
        bottom: 60px;
    }
    @include mobile{
        flex-direction: column;
        section{
            margin: 20px 0;
        }
    }
}